@charset "ISO-8859-1";

 /* CSS styles for the form */
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
        }

        #content {
            padding: 20px;
            background-color: #003366;
            color: #fff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
            width: 300px;
        }

        .btn-primary {
            background-color: #003366;
            border-color: #fff;
        }

        .btn-primary:hover {
            background-color: #fff;
            color : #003366;
            border-color: #fff;
            text-shadow: none;
        }

        .error-message {
            color: #fff;
            font-size: 0.75rem;
            margin-top: 5px;
        }