<!DOCTYPE html>
<div class="hml" xmlns:th="http://www.thymeleaf.org">
	<head>
<title>Hamara Bank Website</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/bank-home-page.css">
<script type="text/javascript" src="./js/bank-home-page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <style>
  .disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
    /* Add any other styling you want for the disabled button */
  }
</style>
  
	</head>
	<div class="hb">
		<!-- Thymeleaf version -->
		<div th:fragment="penBankTemplate">
			<header
				style="display: flex; justify-content: space-between; align-items: center;">
				<div style="display: flex; align-items: center;">
					<h1>Hamara Bank</h1>
					<p>&nbsp India's Largest Banking Platform</p>
				</div>
			
				<div id="user-info">
					<div>
        <span style="padding-right: 20px;">Last logged in:</span><br>
        <span style="padding-right: 20px;" th:text="${lastLoggedinList.getTimestamp()}"></span>
    </div>
					<span th:text="'   Hey ' + ${username}+', '" id="id"></span> <a href="logOut"
						id="logout-link">&nbsp Logout</a>
				</div>
			</header>
			<div class="navbar">
				<nav>
					<!-- Main List -->
					<ul>
						<!-- DashBoard List -->
						<li  >
							<button id="btn" class="btn">DashBoard</button>
							<ul>
								<li id="accounts"><button class="btn">Accounts</button></li>
								<li id="loans"><button class="btn">Loans</button></li>
								<li id="cashchest"><button class="btn">Cash Chest</button></li>

							</ul>
						</li>
						<!-- DashBoard List Ending-->

						<!-- Accounts List -->
						<li >
							<button class="btn">Accounts</button>
							<ul>
								<!-- Savings -->
								<li>
									<button class="btn">Savings</button>
									<ul>
										<li id="savingsacc" data-value="savings"><button
												value="Savings" class="btn">View Accounts</button></li>
										<li id="savingsapp" data-value="savings"><button
												value="Savings" class="btn">View Applications</button></li>
									</ul>
								</li>

								<!-- Current -->
								<li >
									<button class="btn">Current</button>
									<ul>
										<li id="currentacc" data-value="current"><button
												class="btn">View Accounts</button></li>
										<li id="currentapp" data-value="current"><button
												class="btn">View Applications</button></li>
									</ul>
								</li>

								<!-- Recurrent -->
								<li >
									<button class="btn">Recurrent</button>
									<ul>
										<li id="recurrentacc" data-value="recurrent"><button
												class="btn">View Accounts</button></li>
										<li id="recurrentapp" data-value="recurrent"><button
												class="btn">View Applications</button></li>
									</ul>
								</li>

								<!-- Fixed Deposit -->
								<li >
									<button class="btn">Fixed Deposit</button>
									<ul>
										<li id="FDacc" data-value="fixed"><button class="btn">View
												Accounts</button></li>
										<li id="FDapp" data-value="fixed"><button
												class="btn">View Applications</button></li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- Accounts List Closed -->

						<!-- Loans List -->
						<li  >
							<button class="btn">Loans</button>
							<ul>
								<!-- Personal -->
								<li>
									<button class="btn">Personal</button>
									<ul>
										<li id="Personalacc" data-value="personal"><button class="btn">View
												Loans</button></li>
										<li id="Personalapp" data-value="personal"><button class="btn">View
												Applications</button></li>
									</ul>
								</li>

								<!-- Vehicle -->
								<li>
									<button class="btn">Vehicle</button>
									<ul>
										<li id="Vehicleacc" data-value="vehicle"><button
												class="btn">View Loans</button></li>
										<li id="Vehicleapp" data-value="vehicle Loan"><button
												class="btn">View Applications</button></li>
									</ul>
								</li>

								<!-- Gold -->
								<li>
									<button class="btn">Gold</button>
									<ul>
										<li id="Goldacc" data-value="gold"><button class="btn">View
												Loans</button></li>
										<li id="Goldapp" data-value="gold"><button class="btn">View
												Applications</button></li>
									</ul>
								</li>

								<!-- Mortage -->
								<li>
									<button class="btn">Mortage</button>
									<ul>
										<li id="Mortageacc" data-value="mortage"><button
												class="btn">View Loans</button></li>
										<li id="Mortageapp" data-value="mortage Loan"><button
												class="btn">View Applications</button></li>
									</ul>
								</li>
								<li id="redirected" data-value="redirected"><button
										class="btn">View redirected Applications</button></li>
							</ul>
						</li>
						<!-- Loans List Closed -->

						<!-- Transactions List -->
						<li>
							<button class="btn">Transactions</button>
							<ul>
								<li>
									<button class="btn">Deposit</button>
									<ul>
										<li id="loanrepay"><button th:class="${permissions.isTransactions()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isTransactions()}">Loan
												Repayment</button></li>
										<li id="moneydeposit"><button th:class="${permissions.isTransactions()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isTransactions()}">Money
												Deposit</button></li>
									</ul>
								</li>
								<li>
									<button class="btn">Withdrawl</button>
									<ul>
										<li id="loanwithdraw"><button class="btn">Loan
												Withdrawl</button></li>
										<li id="moneywithdraw"><button class="btn">Money
												Withdrawl</button></li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- Transactions Closed -->

						<li><button class="btn">Application Forms</button>
							<ul>
								<li id="newaccount"><button th:class="${permissions.isAppforms()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isAppforms()}">AccountForm</button></li>
								<li id="newloan"><button th:class="${permissions.isAppforms()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isAppforms()}">Loan Form</button></li>
							</ul></li>
						<!-- intrest-calculatioons -->
						<li >
							<button class="btn">Account Processing</button>
							<ul>
								<li id="intrest_caluclation"><button th:class="${permissions.isAccprocessing()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isAccprocessing()}">Interest
										Calculation</button></li>
								<li id="statement_generation"><button th:class="${permissions.isAccprocessing()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isAccprocessing()}">Statement
										Generation</button></li>
							</ul>
						</li>

						<!-- Customers -->
						<li id="customers"><button class="btn">Customers</button></li>

						<!-- auditlogs -->
						<li >
							<button class="btn">Audit Logs</button>
							<ul>
								<li id="viewAudits"><button class="btn">View</button></li>
								<li id="downloadAudits"><button class="btn">Download</button></li>
							</ul>
						</li>
						
						<!-- Users -->
						<li >
							<button class="btn">Users</button>
							<ul>
								<li id="adduser"><button th:class="${permissions.isUsers()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isUsers()}">users</button></li>
								<li id="listusers"><button th:class="${permissions.isUsers()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isUsers()}">List Users</button></li>
							</ul>
						</li>
						<!-- Users closed -->

						<li id="pl"><button class="btn">P&amp;L</button></li>

						<li>
							<button class="btn">Security</button>
							<ul>
								<li id="permissions"><button th:class="${permissions.isSecurity()} ? 'btn' : 'disabled-button btn'" th:disabled="${not permissions.isSecurity()}">Permission
										Management</button></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<main id="main-content">
		  
		</main>

		<footer> &copy; 2023 HamaraBank. All rights reserved. </footer>

	</div>
	<script>


	$(document).ready(function() {
	    var permissions = $('#permissions');
	    var mainContent = $('#main-content');
	    permissions.on('click', function(event) {
	        event.preventDefault(); // Prevent the default behavior of the anchor tag
	        $.ajax({
	            url: 'permission',
	            method: 'GET',
	            success: function(resultText) {
	                mainContent.html(resultText);
	            },
	            error: function(jqXHR, exception) {
	                console.log('Error occurred!');
	            }
	        });
	    });
	});
	$(document).ready(function() {
	    var pl = $('#pl');
	    var mainContent = $('#main-content');
	    pl.on('click', function(event) {
	        event.preventDefault(); // Prevent the default behavior of the anchor tag
	        $.ajax({
	            url: 'profitLoss',
	            method: 'GET',
	            success: function(resultText) {
	                mainContent.html(resultText);
	            },
	            error: function(jqXHR, exception) {
	                console.log('Error occurred!');
	            }
	        });
	    });
	});

	</script>
</div>
