<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
		href="./css/any-type-account-info.css">

<script type="text/javascript" src="./js/customer-edit-details-form.js"></script>

</head>
<body>
  <h3 style="text-align: center;">Customer Details</h3>

<div class="filter-container">
			<input type="text" id="CustomerFilter" placeholder="Enter Customer Number" >
			<button onclick="filterCustomers()">submit</button>
		</div>
	
	<table>
		<thead>
			<tr>
				<th>Customer Id</th>
				<th>Title</th>
				<th>Customer Type</th>
				<th>Current Address</th>
				<th>Pin Code</th>
				<th>DOB</th>
				<th>Mobile No.1</th>
				<th>Mobile No.2</th>
				<th>Land Line</th>
				<th>permanent address</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<!-- Loop through the customerList to generate rows -->
			<tr th:each="customer , rowStat: ${customerList}"
				id="row-${rowStat.index + 1}">
				<td data-column="cust_id" th:text="${customer.getId()}"></td>
				<td data-column="cust_title" th:text="${customer.getTitle()}"></td>
				<td data-column="cust_type" th:text="${customer.getType()}"></td>
				<td data-column="cust_caddress"
					th:text="${customer.getCurrentAddress()}"></td>
				<td data-column="cust_capincode"
					th:text="${customer.getCurrentPINCode()}"></td>
				<td data-column="cust_dob" th:text="${customer.getDateOfBirth()}"></td>
				<td data-column="cust_mobile1" th:text="${customer.getMobile1()}"></td>
				<td data-column="cust_mobile2" th:text="${customer.getMobile2()}"></td>
				<td data-column="cust_rphone"
					th:text="${customer.getResidencePhone()}"></td>
				<td data-column="cust_raddress"
					th:text="${customer.getResidenceAddress()}"></td>
				<td>
					<button th:class="${permissions.isCusedit()  ? 'edit-button btn' : 'disabled-button btn'}" th:disabled="${not permissions.isCusedit()}" onclick="editRow(this)">Edit</button>

				</td>
			</tr>
		</tbody>
	</table>

	<div class="form-popup" id="editForm">
		<div class="form-container">
			<h2>Edit Customer</h2>
			<label for="edit_cust_id">Customer Id:</label> <input type="text"
				id="edit_cust_id" name="edit_cust_id" readonly> <label
				for="edit_cust_title">Name:</label> <input type="text"
				id="edit_cust_title" name="edit_cust_title"> <label
				for="edit_cust_type">customer Type:</label> <input type="text"
				id="edit_cust_type" name="edit_cust_type"> <label
				for="edit_cust_caddress">Current Address:</label> <input type="text"
				id="edit_cust_caddress" name="edit_cust_caddress"> <label
				for="edit_cust_capincode">Current Area Pin Code:</label> <input type="text"
				id="edit_cust_capincode" name="edit_cust_capincode"> <label
				for="edit_cust_dob">Date of Birth:</label> <input type="Date"
				id="edit_cust_dob" name="edit_cust_dob"> <label
				for="edit_cust_mobile1">Mobile No1:</label> <input type="text"
				id="edit_cust_mobile1" name="edit_cust_mobile1"> <label
				for="edit_cust_mobile2">Mobile No2:</label> <input type="text"
				id="edit_cust_mobile2" name="edit_cust_mobile2"> <label
				for="edit_cust_rphone">Land Line:</label> <input type="text"
				id="edit_cust_rphone" name="edit_cust_rphone"> <label
				for="edit_cust_raddress">Permanent address:</label> <input type="text"
				id="edit_cust_raddress" name="edit_cust_raddress">
			<button   onclick="updateRow()">update</button>
			<button  onclick="closeForm()">close</button>
		</div>
	</div>

</body>
<script>
function filterCustomers(){
	var mainContent = $('#main-content');
	var val = document.getElementById('CustomerFilter').value;
    console.log(val);
$.ajax({
		url: 'getCustoemrByIdForFilter',
		type: 'POST',
		data: {Data:val},
		success: function(response) {
		mainContent.html(response);
					},
		error: function(jqXHR, textStatus, errorThrown) {
			// Handle the error
			console.error('Third server request error:', textStatus, errorThrown);
		}
	});

}</script>
</html>