<!DOCTYPE html>
<html>
<head>
    <title>Hamara Bank - Send OTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/enter-email.css">
</head>
<body>
    <div class="container">
        <div id="content" class="col-md-4 offset-md-4">
            <h2>RESET PASSWORD</h2>
            <form id="otpForm" class="mt-4" action="enterOtp" method="post">
                <div class="form-group">
                    <label for="userID">Enter User ID</label>
                    <input type="text" class="form-control" id="userID" name="userID" placeholder="Enter your User ID">
                </div>
                <div class="form-group">
                    <label for="email">Enter Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <small class="form-text text-muted">Note: Please enter the email associated with your bank.</small><br>
                <input type="submit" class="btn btn-primary btn-block" value="Send OTP">
            </form>
            <br>
            <!-- Add a section to display the message -->
            <div th:if="${session.message}">
                <p th:text="${session.message}"></p>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
