<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Loan Applications</title>
<link rel="stylesheet" type="text/css" href="./css/loan-approval.css">
<script type="text/javascript" src="./js/loan-approval.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
  <h3 style="text-align: center;">New Loan Applications</h3>
<div class="filter-container">
			<input type="text" id="accountFilter" placeholder="Filter by Account Number" >
			<button onclick="filterAccounts()">submit</button>
		</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Customer ID</th>
				<th>Application Date</th>
				<th>Loan Type ID</th>
				<th>Amount</th>
				<th>EMI Limit From</th>
				<th>EMI Limit To</th>
				<th>Tenure Requested</th>
				<th>Nominee</th>
				<th>Created By</th>
				<th>Created Date</th>
				<th>Processed By</th>
				<th>Process Date</th>
				<th>Processed Status</th>
				<th>Last Updated Date</th>
				<th>Last Updated User</th>
				<th>Status</th>
				<th>Remarks</th>
				<th>Document</th>
				<th>interest</th>
				<th>Number_of _other_loans</th>
				<th>Annual_income</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loanApp : ${loanApplications}">
				<td id="loanId" th:text="${loanApp.getId()}"></td>
				<td th:text="${loanApp.getCustId()}"></td>
				<td th:text="${loanApp.getApplicationDate()}"></td>
				<td th:text="${loanApp.getLoanTypeId()}"></td>
				<td th:text="${loanApp.getAmount()}"></td>
				<td th:text="${loanApp.getEmiLimitFrom()}"></td>
				<td th:text="${loanApp.getEmiLimitTo()}"></td>
				<td th:text="${loanApp.getTenureRequested()}"></td>
				<td th:text="${loanApp.getNominee()}"></td>
				<td th:text="${loanApp.getCreatedBy()}"></td>
				<td th:text="${loanApp.getCreatedDate()}"></td>
				<td th:text="${loanApp.getProcessedBy()}"></td>
				<td th:text="${loanApp.getProcessDate()}"></td>
				<td th:text="${loanApp.getProcessedStatus()}"></td>
				<td th:text="${loanApp.getLastUpdatedDate()}"></td>
				<td th:text="${loanApp.getLastUpdatedUser()}"></td>
				<td th:text="${loanApp.getStatus()}"></td>
				<td th:text="${loanApp.getRemarks()}"></td>
				<td th:text="${loanApp.getAttachment()}"></td>
				<td th:text="${loanApp.getIntrest()}"></td>
				<td th:text="${loanApp. getLoancount()}"></td>
			   <td th:text="${loanApp.getAnnualincome()}"></td>
				
				<td>
					<button onclick="editRow(this)">Edit</button>
					<button type="button" id="approveButton" onclick="Approve(this)">Approve</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="form-popup" id="edit-popup">
		<div class="form-container" id="edit-form-container">
			<!-- Form fields will be dynamically generated here -->
		</div>
	</div>
</body>
<script>
function filterAccounts(){
	var mainContent = $('#main-content');
	var val = document.getElementById('accountFilter').value;
    console.log(val);
$.ajax({
		url: 'getLoanApplicationsById',
		type: 'POST',
		data: {Data:val},
		success: function(response) {
		mainContent.html(response);
					},
		error: function(jqXHR, textStatus, errorThrown) {
			// Handle the error
			console.error('Third server request error:', textStatus, errorThrown);
		}
	});

}</script>
</html>
