<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Loan Account Details</title>
<link rel="stylesheet" type="text/css"
	href="./css/loan-account-details.css">
</head>
<body>
<div class="filter-container">
			<input type="text" id="accountFilter" placeholder="Filter by Account Number" >
			<button onclick="filterAccounts()">submit</button>
		</div>
	<h2>Loan Account Details</h2>
	<table>
		<tr>
			<th>Loan ID</th>
			<th>Loan Type</th>
			<th>Customer ID</th>
			<th>Loan Amount</th>
			<th>Interest Rate</th>
			<th>Loan Duration</th>
		</tr>
		<tr th:each="loanAccount : ${loanAccounts}">
			<td th:text="${loanAccount.getLoanId()}"></td>
			<td th:text="${loanAccount.getLoanType()}"></td>
			<td th:text="${loanAccount.getCustomerId()}"></td>
			<td th:text="${loanAccount.getLoanAmount()}"></td>
			<td th:text="${loanAccount.getInterestRate()}"></td>
			<td th:text="${loanAccount.getLoanDuration()}"></td>
		</tr>
	</table>
</body>
<script>
function filterAccounts(){
	var mainContent = $('#main-content');
	var val = document.getElementById('accountFilter').value;
    console.log(val);
$.ajax({
		url: 'getLoanAccountById',
		type: 'POST',
		data: {Data:val},
		success: function(response) {
		mainContent.html(response);
					},
		error: function(jqXHR, textStatus, errorThrown) {
			// Handle the error
			console.error('Third server request error:', textStatus, errorThrown);
		}
	});

}</script>
</html>
