<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Loan Withdrawal</title>
<link rel="stylesheet" type="text/css"
	href="./css/sub-loan-withdrawl.css">
<script type="text/javascript" src="./js/sub-loan-withdrawl.js"></script>
</head>
<body>
	<div id="loan-withdrawal-form" class="form-container1">
			<form>
				<div class="form-group">
					<label for="loanid">Loan ID:</label> <input type="number"
						class="form-control" id="loanid" placeholder="Enter loan ID"
						name="loanid" th:value="${account.getLoanId()}" readonly>
				</div>
				<div class="form-group">
					<label for="accountHolder">Account Holder:</label> <input
						type="text" class="form-control" id="accountHolder"
						name="accountHolder" th:value="${customerss.getTitle()}" readonly>
				</div>
				<div class="form-group">
					<label for="loanType">Loan Type:</label> <input type="text"
						class="form-control" id="loanType" name="loanType"
						th:value="${account.getLoanType()}" readonly>
				</div>
				<div class="form-group">
					<label for="date">Date:</label> <input type="date"
						  onclick="getDate()" class="form-control" id="date" name="date">
				</div>
				<div class="form-group">
					<label for="loanamount">Loan Amount:</label> <input type="number"
						class="form-control" id="loanamount" name="loanamount"
						th:value="${account.getLoanAmount()}" readonly>
				</div>
				<button type="button" class="tat" onclick="validateLoanWithdrawlForm()">Withdraw</button>
				<div id="successMessage"></div>

			</form>

	</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</html>