<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <title>Money Withdrawal</title>
<link rel="stylesheet" type="text/css"
	href="./css/sub-money-withdrawl.css">
<script type="text/javascript" src="./js/sub-money-withdrawl.js"></script>
</head>
<body>
<div id="money-withdrawal-form" class="form-container1">
        
            <div >
                <form>
                   <!--  <h1>Money Withdrawal</h1> -->
                    <div class="form-group">
                        <label for="accountNumber">Account Number:</label>
                        <input type="number" class="form-control" id="accountNumber" name="accountNumber" th:value="${account.getApplicationId()}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="accountHolder">Account Holder:</label>
                        <input type="text" class="form-control" id="accountHolder" name="accountHolder" th:value="${account.getApplicationNomineeFirstName()}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="branch">Branch Name:</label>
                        <input type="text" class="form-control" id="branch" name="branch" value="VSKP" readonly>
                    </div>
                    <div class="form-group">
                        <label for="accountType">Account Type:</label>
                        <input type="text" class="form-control" id="accountType" name="accountType"  th:value="${account.getAccountTypeId()}" readonly>
                    </div>
                      <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" onclick="getDate()" class="form-control" id="date" name="date" >
                    </div>
                    
                    <div class="form-group">
                        <label for="mode">Mode of withdrawl:</label>
                        <select id="mode" name="mode">
                        	<option value="">Select</option>
                        	<option value="cash">Cash</option>
                        	<option value="cheque">Cheque</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="balance">Balance:</label>
                        <input type="number" class="form-control" id="balance" name="balance" th:value="${account.getBalance()}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount" required>
                    </div>
                    <button type="button" class="tat" onclick="validateWithdrawlForm()">Withdraw</button>  
                    <div id="successMessage"></div>

                </form>
            </div>
        
    </div>
</body>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</html>